<footer class="gov-footer">

  <div class="footer-wrapper">

    <!-- LEFT SIDE (LINKS) -->
    <div class="footer-links">

      <!-- Column 1 -->
      <div class="col">
        <h5><a href="/about-moe">About MoE</a></h5>
        <ul>
          <li><a href="/about-moe">Overview</a></li>
          <li><a href="/constitutional-provision">Constitutional Provision</a></li>
          <li><a href="/allocation-business">Allocation of Business Rules</a></li>
          <li><a href="/citizens-charter">Citizen's Charter</a></li>
          <li><a href="/policy-initiatives">Policy Initiatives</a></li>
          <li><a href="/cabe">Advisory Bodies</a></li>
          <li><a href="https://www.education.gov.in/en/organisation_chart_mhrd" target="_blank">Organogram</a></li>
          <li><a href="https://www.education.gov.in/en/schemes" target="_blank">Schemes</a></li>
          <li><a href="/ministers">Who's Who</a></li>
          <li><a href="https://education.gov.in/sites/upload_files/mhrd/files/telephone_directory_moe_KB-2.pdf" target="_blank">Telephone Directory KB-2</a></li>
          <li><a href="https://www.education.gov.in/sites/upload_files/mhrd/files/upload_document/telephone_directory_moe.pdf" target="_blank">Telephone Directory</a></li>
          <li><a href="https://services.india.gov.in" target="_blank">Government Services <i class="bi bi-box-arrow-up-right"></i></a></li>
        </ul>
      </div>

      <!-- Column 2 -->
      <div class="col">
        <h5><a href="#">Departments</a></h5>
        <ul>
          <li><a href="https://dsel.education.gov.in/" target="_blank">School Education & Literacy <i class="bi bi-box-arrow-up-right"></i></a></li>
          <li><a href="https://www.education.gov.in/en/higher_education" target="_blank">Higher Education <i class="bi bi-box-arrow-up-right"></i></a></li>
        </ul>

        <h5><a href="/institutions">Institutions</a></h5>
        <ul>
          <li><a href="/institutions">School Education & Literacy</a></li>
          <li><a href="/apex-level-bodies">Higher Education</a></li>
        </ul>

        <h5><a href="#">Multimedia</a></h5>
        <ul>
          <li><a href="https://www.education.gov.in/en/covid-campaign-gallery" target="_blank">Covid-19 Campaign</a></li>
          <li><a href="https://www.youtube.com/user/HRDMinistry/videos" target="_blank">YouTube Channel <i class="bi bi-box-arrow-up-right"></i></a></li>
          <li><a href="/audios">Audio</a></li>
          <li><a href="/gallery">Photo Gallery</a></li>
          <li><a href="https://www.education.gov.in/en/photogallery-archived" target="_blank">Archived Photo Gallery</a></li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="col">
        <ul>
          <li><a href="https://www.education.gov.in/en/terms-condition" target="_blank">Terms & Conditions</a></li>
          <li><a href="https://www.education.gov.in/en/privacy-policy" target="_blank">Privacy Policy</a></li>
          <li><a href="https://www.education.gov.in/en/copyright_policy" target="_blank">Copyright Policy</a></li>
          <li><a href="https://www.education.gov.in/en/hyperlink-policy" target="_blank">Hyperlink Policy</a></li>
          <li><a href="https://www.education.gov.in/en/disclaimer" target="_blank">Disclaimer</a></li>
          <li><a href="https://www.education.gov.in/en/related-links" target="_blank">Related Link</a></li>
          <li><a href="https://www.education.gov.in/en/accessibility-statement" target="_blank">Accessibility Statement</a></li>
          <li><a href="https://www.education.gov.in/en/sitemap" target="_blank">Sitemap</a></li>
          <li><a href="https://datastudio.google.com/reporting/9b2c28b1-746b-4ed8-9453-2871419f2b88" target="_blank">Web Analytics <i class="bi bi-box-arrow-up-right"></i></a></li>
          <li><a href="https://www.education.gov.in/sites/upload_files/mhrd/files/upload_document/TELEPHONE_DIRECTORY_01072025.pdf" target="_blank">Contact Us</a></li>
          <li><a href="https://www.education.gov.in/en/help" target="_blank">Help</a></li>
          <li><a href="https://www.education.gov.in/en/web_information_manager" target="_blank">Web Information Manager</a></li>
          <li><a href="https://www.india.gov.in" target="_blank">National Portal <i class="bi bi-box-arrow-up-right"></i></a></li>
          <li><a href="https://pgportal.gov.in/Registration" target="_blank">Public Grievances <i class="bi bi-box-arrow-up-right"></i></a></li>
          <li><a href="https://pgportal.gov.in/Registration" target="_blank">Feedback <i class="bi bi-box-arrow-up-right"></i></a></li>
        </ul>
      </div>

    </div>

    <!-- DIVIDER -->
    <div class="footer-divider"></div>

    <!-- RIGHT SIDE -->
    <div class="footer-right">

      <!-- QR + NIC -->
      <div class="top-info">
       <div>
         <img src="/img/ogd-qr2.png" alt="QR" class="qr">
        <img src="/img/nic-logo.png" alt="NIC Logo" class="nic">

       </div>
        <p>
          Content of this website is owned and managed by D/o Higher Education,
          Ministry of Education. This site is designed, developed, hosted and
          maintained by National Informatics Centre (NIC), Ministry of Electronics
          & Information Technology, Government of India. Copyright 2021.
        </p>
      </div>

      <!-- Social -->
      <div class="social">
        <h6>Follow us on:</h6>
        <div class="icons">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter"></i>
          <i class="bi bi-youtube"></i>
        </div>
      </div>

      <!-- Logos -->
      <div class="badges">
        <img src="/img/award_dia.png" alt="Digital India">
        <img src="/img/stqc.png" alt="QW">
        <img src="/img/valid-xhtml10.png" alt="W3C HTML">
        <img src="/img/vcss.png" alt="W3C CSS">
      </div>

      <!-- Support -->
      <p class="support">
        Supports: Firefox 2.0+ | Google Chrome 6.0+ | Internet Explorer 8.0+ | Safari 4.0+
      </p>

      <!-- Bottom -->
      <p class="updated">
        Last Updated by admin on Wednesday, 29 April 2026 - 05:06 am
      </p>

    </div>

  </div>

</footer>