<footer class="gov-footer">

  <div class="footer-wrapper">

    <!-- LEFT SIDE (LINKS) -->
    <div class="footer-links">

      <!-- Column 1 -->
      <div class="col">
        <h5>About MoE</h5>
        <ul>
          <li>Overview</li>
          <li>Constitutional Provision</li>
          <li>Allocation of Business Rules</li>
          <li>Citizen's Charter</li>
          <li>Policy Initiatives</li>
          <li>Advisory Bodies</li>
          <li>Organogram</li>
          <li>Schemes</li>
          <li>Who's Who</li>
          <li>Telephone Directory KB-2</li>
          <li>Telephone Directory</li>
          <li>Government Services <i class="bi bi-box-arrow-up-right"></i></li>
        </ul>
      </div>

      <!-- Column 2 -->
      <div class="col">
        <h5>Institutions</h5>
        <ul>
          <li>School Education & Literacy</li>
          <li>Higher Education</li>
        </ul>

        <h5>Multimedia</h5>
        <ul>
          <li>Covid-19 Campaign</li>
          <li>YouTube Channel <i class="bi bi-box-arrow-up-right"></i></li>
          <li>Audio</li>
          <li>Photo Gallery</li>
          <li>Archived Photo Gallery</li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="col">
        <ul>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
          <li>Copyright Policy</li>
          <li>Hyperlink Policy</li>
          <li>Disclaimer</li>
          <li>Related Link</li>
          <li>Accessibility Statement</li>
          <li>Sitemap</li>
          <li>Web Analytics <i class="bi bi-box-arrow-up-right"></i></li>
          <li>Contact Us</li>
          <li>Help</li>
          <li>Web Information Manager</li>
          <li>National Portal <i class="bi bi-box-arrow-up-right"></i></li>
          <li>Public Grievances <i class="bi bi-box-arrow-up-right"></i></li>
          <li>Feedback <i class="bi bi-box-arrow-up-right"></i></li>
        </ul>
      </div>

    </div>

    <!-- DIVIDER -->
    <div class="footer-divider"></div>

    <!-- RIGHT SIDE -->
    <div class="footer-right">

      <!-- QR + NIC -->
      <div class="top-info">
       <div>
         <img src="/img/ogd-qr2.png" alt="QR" class="qr">
        <img src="/img/nic-logo.png" alt="NIC Logo" class="nic">

       </div>
        <p>
          Content of this website is owned and managed by D/o Higher Education,
          Ministry of Education. This site is designed, developed, hosted and
          maintained by National Informatics Centre (NIC), Ministry of Electronics
          & Information Technology, Government of India. Copyright 2021.
        </p>
      </div>

      <!-- Social -->
      <div class="social">
        <h6>Follow us on:</h6>
        <div class="icons">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter"></i>
          <i class="bi bi-youtube"></i>
        </div>
      </div>

      <!-- Logos -->
      <div class="badges">
        <img src="/img/award_dia.png" alt="Digital India">
        <img src="/img/stqc.png" alt="QW">
        <img src="/img/valid-xhtml10.png" alt="W3C HTML">
        <img src="/img/vcss.png" alt="W3C CSS">
      </div>

      <!-- Support -->
      <p class="support">
        Supports: Firefox 2.0+ | Google Chrome 6.0+ | Internet Explorer 8.0+ | Safari 4.0+
      </p>

      <!-- Bottom -->
      <p class="updated">
        Last Updated by admin on Wednesday, 29 April 2026 - 05:06 am
      </p>

    </div>

  </div>

</footer>